In [227]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [228]:
df = pd.read_csv('CarPrice.csv')
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [229]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [230]:
df.nunique()

car_ID              205
symboling             6
CarName             147
fueltype              2
aspiration            2
doornumber            2
carbody               5
drivewheel            3
enginelocation        2
wheelbase            53
carlength            75
carwidth             44
carheight            49
curbweight          171
enginetype            7
cylindernumber        7
enginesize           44
fuelsystem            8
boreratio            38
stroke               37
compressionratio     32
horsepower           59
peakrpm              23
citympg              29
highwaympg           30
price               189
dtype: int64

In [231]:
df = df.drop(['car_ID','compressionratio','symboling','CarName','curbweight'],axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fueltype        205 non-null    object
 1   aspiration      205 non-null    object
 2   doornumber      205 non-null    object
 3   carbody         205 non-null    object
 4   drivewheel      205 non-null    object
 5   enginelocation  205 non-null    object
 6   wheelbase       205 non-null    float64
 7   carlength       205 non-null    float64
 8   carwidth        205 non-null    float64
 9   carheight       205 non-null    float64
 10  enginetype      205 non-null    object
 11  cylindernumber  205 non-null    object
 12  enginesize      205 non-null    int64
 13  fuelsystem      205 non-null    object
 14  boreratio       205 non-null    float64
 15  stroke          205 non-null    float64
 16  horsepower      205 non-null    int64
 17  peakrpm         205 non-null    int64
 18  citympg         205 non-null    int64
 19  highwaympg      205 non-null    int64
 20  price           205 non-null    float64
dtypes: float64(7), int64(5), object(9)
memory usage: 33.8+ KB

In [232]:
df = pd.get_dummies(df,columns= ['fueltype','fuelsystem','cylindernumber','enginetype','enginelocation','drivewheel','carbody','doornumber','aspiration'],drop_first=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   wheelbase              205 non-null    float64
 1   carlength              205 non-null    float64
 2   carwidth               205 non-null    float64
 3   carheight              205 non-null    float64
 4   enginesize             205 non-null    int64
 5   boreratio              205 non-null    float64
 6   stroke                 205 non-null    float64
 7   horsepower             205 non-null    int64
 8   peakrpm                205 non-null    int64
 9   citympg                205 non-null    int64
 10  highwaympg             205 non-null    int64
 11  price                  205 non-null    float64
 12  fueltype_gas           205 non-null    uint8
 13  fuelsystem_2bbl        205 non-null    uint8
 14  fuelsystem_4bbl        205 non-null    uint8
 15  fuelsystem_idi         205 non-null    uint8
 16  fuelsystem_mfi         205 non-null    uint8
 17  fuelsystem_mpfi        205 non-null    uint8
 18  fuelsystem_spdi        205 non-null    uint8
 19  fuelsystem_spfi        205 non-null    uint8
 20  cylindernumber_five    205 non-null    uint8
 21  cylindernumber_four    205 non-null    uint8
 22  cylindernumber_six     205 non-null    uint8
 23  cylindernumber_three   205 non-null    uint8
 24  cylindernumber_twelve  205 non-null    uint8
 25  cylindernumber_two     205 non-null    uint8
 26  enginetype_dohcv       205 non-null    uint8
 27  enginetype_l           205 non-null    uint8
 28  enginetype_ohc         205 non-null    uint8
 29  enginetype_ohcf        205 non-null    uint8
 30  enginetype_ohcv        205 non-null    uint8
 31  enginetype_rotor       205 non-null    uint8
 32  enginelocation_rear    205 non-null    uint8
 33  drivewheel_fwd         205 non-null    uint8
 34  drivewheel_rwd         205 non-null    uint8
 35  carbody_hardtop        205 non-null    uint8
 36  carbody_hatchback      205 non-null    uint8
 37  carbody_sedan          205 non-null    uint8
 38  carbody_wagon          205 non-null    uint8
 39  doornumber_two         205 non-null    uint8
 40  aspiration_turbo       205 non-null    uint8
dtypes: float64(7), int64(5), uint8(29)
memory usage: 25.1 KB

In [233]:
df.fillna(0)
df.isnull().sum()

wheelbase                0
carlength                0
carwidth                 0
carheight                0
enginesize               0
boreratio                0
stroke                   0
horsepower               0
peakrpm                  0
citympg                  0
highwaympg               0
price                    0
fueltype_gas             0
fuelsystem_2bbl          0
fuelsystem_4bbl          0
fuelsystem_idi           0
fuelsystem_mfi           0
fuelsystem_mpfi          0
fuelsystem_spdi          0
fuelsystem_spfi          0
cylindernumber_five      0
cylindernumber_four      0
cylindernumber_six       0
cylindernumber_three     0
cylindernumber_twelve    0
cylindernumber_two       0
enginetype_dohcv         0
enginetype_l             0
enginetype_ohc           0
enginetype_ohcf          0
enginetype_ohcv          0
enginetype_rotor         0
enginelocation_rear      0
drivewheel_fwd           0
drivewheel_rwd           0
carbody_hardtop          0
carbody_hatchback        0
carbody_sedan            0
carbody_wagon            0
doornumber_two           0
aspiration_turbo         0
dtype: int64

In [234]:
x = df.drop('price',axis=1).values
y = df['price'].values
x.shape

(205, 40)

In [235]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 42)

In [236]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.fit_transform(x_test)

In [237]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [238]:
model.fit(x_train,y_train)

LinearRegression()

In [239]:
y_pred = model.predict(x_test)

In [240]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.8718791216014589

In [244]:
from xgboost import XGBRegressor
model1 = XGBRegressor()
model1.fit(x_test,y_test)
y_pred1 = model.predict(x_test)
r2_score(y_test,y_pred1)

0.8718791216014589